<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie_request.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie_request.year %>
</p>

<p>
  <%= image_tag(@movie_request.poster) %>
</p>

<%= link_to 'Search Again', new_movie_request_path %>
